/* Empty. Add your own CSS if you like */
body {
  background-color: #303030;
  color: #dad7cd;
  height: 100%;
}

.fill{
  width:100%;
  height:100%;
  min-height:100%;
  background-color:#344e41;
  padding:10px;
}

h4 {
  margin-bottom: 15px;
}
#ui {
  max-width: 230px;
}

.ui-row {
  margin-bottom: 15px;
}

.container {
  height:100%;
  margin-top: 25px;
}
#main-canvas {
  background-color: #3a5a40;
  width: 100%;
}

.form-check-input:checked {
  background-color: #a3b18a;
  border-color: #a3b18a;
}

.form-check-input:focus {
  border-color: inherit;
  outline: 0;
  box-shadow: none;
}

.form-select {
  background-color: #a3b18a;
  color: #303030;
}

.info {
  font-size: 12px;
  border-radius: 25px;
  margin-top: 30px;
  background: #3a5a40;
  width: 29px;
  padding: 5px 7px;
  cursor: pointer;
  position: absolute;
  margin-bottom: 15px;
}

.info a {
  text-decoration: none;
}

.button {
  display: block;
  width: 100%;
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  vertical-align: middle;
  background-color: #a3b18a;
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.margin-top {
  margin-top: 40px;
}



